<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
  <link rel="stylesheet" href="{% static 'tan.css'%}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  
  
</head>
<body>
    <div class="card">
        <div class="card-head">
            <p>Physics</p>
            </div>
        <div class="card-content">
            <div class="card-text">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum necessitatibus ratione consectetur dolorem hic laborum aperiam quae exercitationem. Molestias animi provident, debitis illum temporibus repellat excepturi voluptatum consectetur aspernatur? Obcaecati!</p>
            </div>
        </div>
        <button>

        </button>
        </div>
    </div>
</body>
</html>