<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div>
        <h1> Welcome {{name}}</h1>
        <small>@{{username }}</small>
        <hr>
        <h3><p>College name : {{clg_name }}</p>
            <p>Exam Appearing : {{exam }}</p>
            <p>10th Board : {{board10}}</p>
            <p>10th Marks : {{marks10}}</p>
            <p>Email : {{email}}</p>
        </h3>
        <form action="logout_user">
        <button type="submit">Log out</button>
        </form>
    </div>
</body>
</html>